body {
  cursor: pointer;
}
.inspector-overlay {
  border-radius: 5px;
  padding: 5px 10px;
  position: fixed;
  z-index: 1000;
  box-sizing: content-box;
  background-color: rgba(255, 0, 0, 0.1);
  transition: all 0.5s;
  display: none;
}

.inspector-info {
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  background-color: #fff;
  font-size: 12px;
  color: #000;
  left: 50%;
  transform: translate(-50%, -100%);
}

#inspector-overlay-checkbox-label {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#inspector-overlay-checkbox-label .label-text {
  margin-left: 5px;
}

#inspector-overlay-checkbox-label input {
  cursor: pointer;
  appearance: auto;
}
